# virtualenv
vg_venv/
bin/
include/
lib/
local/
.DS_Store

# Twitter API Keys
secrets.py
secrets.pyc
secrets_test.py
secrets_test.pyc
secrets_feh.py
secrets_feh.pyc
secrets_poets.py
secrets_poets.pyc
current_vg.pyc


# nohup
nohup.out

# python
__pycache__
